---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<mapquest_api_key>&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 03 Aug 2020 02:40:27 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_api_key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=708604320"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_api_key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-838952294"}]}]}'
  recorded_at: Mon, 03 Aug 2020 02:40:27 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<openweather_api_key>&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1596422428,"sunrise":1596369620,"sunset":1596420710,"temp":76.55,"feels_like":70.29,"pressure":1023,"humidity":33,"dew_point":45.34,"uvi":10.3,"clouds":75,"visibility":10000,"wind_speed":9.17,"wind_deg":340,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1596420000,"temp":76.55,"feels_like":69.55,"pressure":1023,"humidity":33,"dew_point":45.34,"clouds":75,"visibility":10000,"wind_speed":10.47,"wind_deg":358,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.48,"rain":{"1h":0.3}},{"dt":1596423600,"temp":75.49,"feels_like":72.48,"pressure":1022,"humidity":40,"dew_point":49.51,"clouds":74,"visibility":10000,"wind_speed":5.21,"wind_deg":299,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.52},{"dt":1596427200,"temp":74.55,"feels_like":74.5,"pressure":1021,"humidity":43,"dew_point":50.61,"clouds":61,"visibility":10000,"wind_speed":0.51,"wind_deg":13,"weather":[{"id":803,"main":"Clouds","description":"broken
       [...]
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<unsplash_api_key>&query=broken%20clouds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<unsplash_api_key>&page=4878&query=broken+clouds>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<unsplash_api_key>&page=2&query=broken+clouds>;
        rel="next"
      X-Total:
      - '48775'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":48775,"total_pages":4878,"results":[{"id":"SheStKq2Fv4","created_at":"2017-08-29T17:30:10-04:00","updated_at":"2020-07-07T01:41:40-04:00","promoted_at":"2017-08-30T22:49:07-04:00","width":6000,"height":4000,"color":"#E5E2E1","description":"The
        view before going to bed, this last weekend. We camped and spent the night
        here on our way to the summit of South Sister. Wildfires in the area create
        really apocalyptic sunsets.","alt_description":"trees on body of mountain","urls":{"raw":"https://images.unsplash.com/photo-1504042069499-5a3fe42bd8cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE1NDAyOX0","full":"https://images.unsplash.com/photo-1504042069499-5a3fe42bd8cf?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE1NDAyOX0","regular":"https://images.unsplash.com/photo-1504042069499-5a3fe42bd8cf?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE1NDAyOX0","small":"https://images.unsplash.com/photo-1504042069499-5a3fe42bd8cf?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE1NDAyOX0","thumb":"https://images.unsplash.com/photo-1504042069499-5a3fe42bd8cf?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE1NDAyOX0"},"links":{"self":"https://api.unsplash.com/photos/SheStKq2Fv4","html":"https://unsplash.com/photos/SheStKq2Fv4","download":"https://unsplash.com/photos/SheStKq2Fv4/download","download_location":"https://api.unsplash.com/photos/SheStKq2Fv4/download"},"categories":[],"likes":104,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"F6BLXtVoK_U","updated_at":"2020-07-21T13:31:20-04:00","username":"aows","name":"adrian","first_name":"adrian","last_name":null,"twitter_username":"aows","portfolio_url":"http://aows.co","bio":"Shooting
        B&W with a medium format film camera, and color with a digital camera.","location":"USA
        and Spain","links":{"self":"https://api.unsplash.com/users/aows","html":"https://unsplash.com/@aows","photos":"https://api.unsplash.com/users/aows/photos","likes":"https://api.unsplash.com/users/aows/likes","portfolio":"https://api.unsplash.com/users/aows/portfolio","following":"https://api.unsplash.com/users/aows/following","followers":"https://api.unsplash.com/users/aows/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1477425397965-75171a4aaddd?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1477425397965-75171a4aaddd?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1477425397965-75171a4aaddd?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"aows","total_collections":1,"total_likes":155,"total_photos":154,"accepted_tos":false},"tags":[{"type":"landing_page","title":"tree","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"nature","pretty_slug":"Nature"},"subcategory":{"slug":"tree","pretty_slug":"Tree"}},"title":"Tree
        Images & Pictures","subtitle":"Download free tree images","description":"Choose
        from a curated selection of tree photos. Always free on Unsplash.","meta_title":"20+
        Tree Pictures & Images [HD] | Download Free Photos on Unsplash","meta_description":"Choose
        from hundreds of free tree pictures. Download HD tree photos for free on Unsplash.","cover_photo":{"id":"rFBA42UFpLs","created_at":"2015-01-20T16:50:10-05:00","updated_at":"2020-06-28T01:04:13-04:00","promoted_at":"2015-01-20T16:50:10-05:00","width":3333,"height":5000,"color":"#485C5E","description":"Creek
        in the tree shade","alt_description":"river surrounded by trees","urls":{"raw":"https://images.unsplash.com/photo-1421790500381-fc9b5996f343?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1421790500381-fc9b5996f343?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb","regula[...]
