---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=MtdlUykMVC2NoncKZAL05iWAYEX0Yi9c&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 03 Aug 2020 17:12:10 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MtdlUykMVC2NoncKZAL05iWAYEX0Yi9c&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-881256571"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MtdlUykMVC2NoncKZAL05iWAYEX0Yi9c&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=1632456313"}]}]}'
  recorded_at: Mon, 03 Aug 2020 17:12:11 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<openweather_api_key>&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1596474171,"sunrise":1596456076,"sunset":1596507046,"temp":74.61,"feels_like":74.32,"pressure":1011,"humidity":55,"dew_point":57.38,"uvi":10.4,"clouds":3,"visibility":10000,"wind_speed":4.65,"wind_deg":56,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1596474000,"temp":74.61,"feels_like":74.32,"pressure":1011,"humidity":55,"dew_point":57.38,"clouds":3,"visibility":10000,"wind_speed":4.65,"wind_deg":56,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1596477600,"temp":78.57,"feels_like":77.47,"pressure":1013,"humidity":44,"dew_point":54.86,"clouds":3,"visibility":10000,"wind_speed":4.61,"wind_deg":59,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1596481200,"temp":83.89,"feels_like":81.93,"pressure":1014,"humidity":33,"dew_point":51.75,"clouds":54,"visibility":10000,"wind_speed":4.45,"wind_deg":54,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"0[...]
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<unsplash_api_key>&query=clear%20sky
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<unsplash_api_key>&page=11066&query=clear+sky>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<unsplash_api_key>&page=2&query=clear+sky>;
        rel="next"
      X-Total:
      - '110655'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":110655,"total_pages":11066,"results":[{"id":"GXzjWurMTgQ","created_at":"2017-08-08T10:01:45-04:00","updated_at":"2020-07-07T01:06:49-04:00","promoted_at":null,"width":4008,"height":2663,"color":"#3AC0FD","description":null,"alt_description":"white
        and blue kite flying on clear sky","urls":{"raw":"https://images.unsplash.com/photo-1502200893034-b7bca90610ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE1NDAyOX0","full":"https://images.unsplash.com/photo-1502200893034-b7bca90610ef?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE1NDAyOX0","regular":"https://images.unsplash.com/photo-1502200893034-b7bca90610ef?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE1NDAyOX0","small":"https://images.unsplash.com/photo-1502200893034-b7bca90610ef?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE1NDAyOX0","thumb":"https://images.unsplash.com/photo-1502200893034-b7bca90610ef?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE1NDAyOX0"},"links":{"self":"https://api.unsplash.com/photos/GXzjWurMTgQ","html":"https://unsplash.com/photos/GXzjWurMTgQ","download":"https://unsplash.com/photos/GXzjWurMTgQ/download","download_location":"https://api.unsplash.com/photos/GXzjWurMTgQ/download"},"categories":[],"likes":37,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"hL7tg9kOL30","updated_at":"2020-07-31T09:34:55-04:00","username":"hiddenwindows","name":"Danilo
        Batista","first_name":"Danilo","last_name":"Batista","twitter_username":null,"portfolio_url":"http://photob.46graus.com","bio":"If
        you liked my job (and can help) pay me some coffee :) https://ko-fi.com/photob\r\n\r\nTalvez
        seja preciso ter mais do que tenho pra ser descoberto no mundo da arte. Gradualmente
        vou dispor minhas fotos aqui, em alta, gratuitamente. Fiquem a vontade.","location":"Botucatu,
        S\u00e3o Paulo, Brasil","links":{"self":"https://api.unsplash.com/users/hiddenwindows","html":"https://unsplash.com/@hiddenwindows","photos":"https://api.unsplash.com/users/hiddenwindows/photos","likes":"https://api.unsplash.com/users/hiddenwindows/likes","portfolio":"https://api.unsplash.com/users/hiddenwindows/portfolio","following":"https://api.unsplash.com/users/hiddenwindows/following","followers":"https://api.unsplash.com/users/hiddenwindows/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1519825357557-cb88da453a3e?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1519825357557-cb88da453a3e?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1519825357557-cb88da453a3e?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"hiddenwindows","total_collections":0,"total_likes":178,"total_photos":90,"accepted_tos":true},"tags":[{"type":"landing_page","title":"blue","source":{"ancestry":{"type":{"slug":"wallpapers","pretty_slug":"HD
        Wallpapers"},"category":{"slug":"colors","pretty_slug":"Color"},"subcategory":{"slug":"blue","pretty_slug":"Blue"}},"title":"HD
        Blue Wallpapers","subtitle":"Download Free Blue Wallpapers","description":"Choose
        from a curated selection of blue wallpapers for your mobile and desktop screens.
        Always free on Unsplash.","meta_title":"Blue Wallpapers: Free HD Download
        [500+ HQ] | Unsplash","meta_description":"Choose from hundreds of free blue
        wallpapers. Download HD wallpapers for free on Unsplash.","cover_photo":{"id":"DbwYNr8RPbg","created_at":"2018-03-30T16:31:32-04:00","updated_at":"2020-07-21T01:25:30-04:00","promoted_at":"2018-03-31T22:25:27-04:00","width":4433,"height":7880,"color":"#0592AE","description":"AQUA","alt_description":"white
        clouds and blue skies","urls":{"raw":"https://images.unsplash.com/photo-1522441815192-d9f04eb0615c?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1522441815192-d9f04eb0615c?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb","regular":"https://image[...]
