---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=MtdlUykMVC2NoncKZAL05iWAYEX0Yi9c&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 03 Aug 2020 00:10:04 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MtdlUykMVC2NoncKZAL05iWAYEX0Yi9c&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1906444825"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MtdlUykMVC2NoncKZAL05iWAYEX0Yi9c&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-1344216805"}]}]}'
  recorded_at: Mon, 03 Aug 2020 00:10:04 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=13e66a3fd0d5dce3a6cae39888e9f04e&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1596412851,"sunrise":1596369620,"sunset":1596420710,"temp":80.11,"feels_like":76.5,"pressure":1022,"humidity":30,"dew_point":45.91,"uvi":10.3,"clouds":20,"visibility":10000,"wind_speed":4.7,"wind_deg":290,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.43}},"hourly":[{"dt":1596412800,"temp":80.11,"feels_like":77.49,"pressure":1022,"humidity":30,"dew_point":45.91,"clouds":20,"visibility":10000,"wind_speed":2.95,"wind_deg":291,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.43,"rain":{"1h":0.43}},{"dt":1596416400,"temp":80.85,"feels_like":75.69,"pressure":1020,"humidity":28,"dew_point":44.73,"clouds":59,"visibility":10000,"wind_speed":6.96,"wind_deg":19,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.39,"rain":{"1h":0.97}},{"dt":1596420000,"temp":74.21,"feels_like":67.42,"pressure":1020,"humidity":53,"dew_point":55.99,"clouds":83,"visibility":7697,"wind_speed":15.35,"wind_deg":328,"weather":[{"id":501,"main":"Rain","de[...]
